language: 
- go
- java

go:
- 1.13.x

jdk:
- openjdk11

script:
- git clone https://github.com/istio/proxy.git
- cd proxy && git checkout 1.5.7 && cd -
- git clone https://github.com/istio/envoy
- cd envoy && git checkout release-1.5 && cd -
- wget https://github.com/bazelbuild/bazel/releases/download/3.4.1/bazel-3.4.1-linux-x86_64
- mv bazel-3.4.1-linux-x86_64 proxy/bazel && chmod +x proxy/bazel
- ls
- pwd
- cd proxy && cp -rf ../WORKSPACE .
- bazel query 'deps(//tools/deb:istio-proxy)' --output graph

